extends layout

block content

    img(id='bg' src='../images/shadowrun.jpg')
    div(id='content')
        div(id='mainFunc')
            h1(id='title') Runner Initiatives
            button(id='rollAll' class='good' onclick='rollAll()') Roll all initiatives
            button(id='newPass' class='bad' onclick='newPass()') New Pass
            button(id='nextTurn' class='good' onclick='nextTurn()') Next Turn

        h2(id='info')
        div(id='newRunner')
            div
                span Name:
                input(
                    id='name'
                    name='name'
                    type='text'
                )
            div
                span Dice:
                input(
                    id='dice'
                    name='dice'
                    type='number'
                    value=1
                )
            div
                span Base Init:
                input(
                    id='baseInit'
                    name='baseInit'
                    type='number'
                    value=1
                )
            

            button(
            id='runnersubmit'
            class='good'
            ) add runner

        div(id='selectedRunner') 
            h3 Highlighted Commands:
            button(
            id='dodge'
            class='bad'
            ) Dodge

            button(
            id='parry'
            class='bad'
            ) Parry

            button(
            id='block'
            class='bad'
            ) Block

            button(
            id='fullDefense'
            class='bad'
            ) Full Defense
        
            button(
            id='intercept'
            class='bad'
            ) Intercept


        div
            ul(
                id='activeRunners'
                )
        script(src='/javascripts/runnersscript.js')

//-   ul
        each runner in htmlRes
            li(
            id= runner._id)
                div= 'Name: ' + runner.name
                div= 'Dice: ' + runner.dice
                div(class='roll')
                button(
                onclick='roll(' + runner.dice + ', "' + runner._id + '")'
                ) Roll
                button(
                onclick='deleteRunner("' + runner._id + '")'
                ) X               
